/* Réinitialisation de style pour tous les éléments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de base */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('images/weppes-landscape.jpg') no-repeat center center/cover;
    color: #333;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Mise en page */
.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
}

/* Menu vertical */
.sidebar {
    background-color: rgba(255, 255, 255, 0.9); /* Fond blanc légèrement transparent */
    color: #333;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Ombre légère pour le menu */
}

.logo-container {
    text-align: center;
    margin-bottom: 2rem;
}

.logo {
    max-width: 80%;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 1rem;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 1.1em;
}

nav ul li a:hover {
    color: #FF6F61; /* Couleur chaleureuse pour le survol */
}

/* Section héroïque */
.hero {
    background: rgba(0, 0, 0, 0.5); /* Couche semi-transparente pour améliorer la lisibilité du texte */
    color: #fff;
    text-align: center;
    padding: 4rem 2rem;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    background-color: #FF6F61; /* Couleur chaude pour les boutons */
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: #E55B47; /* Couleur légèrement plus sombre pour le survol */
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Sections générales */
main {
    padding: 2rem;
    margin-left: 250px; /* Ajustement pour la largeur du menu */
    background-color: rgba(255, 255, 255, 0.9); /* Fond blanc légèrement transparent pour les sections */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce pour les sections */
}

/* Formulaires */
form {
    background-color: #
